{ :deps {
    org.clojure/clojure {:mvn/version "1.10.0-RC5"}
  }
  :aliases {
    :repl {
      :extra-deps {
        cider/cider-nrepl {:mvn/version "0.18.0"}
        nrepl/nrepl       {:mvn/version "0.5.3"}
      }
      :main-opts [
        "-m" "nrepl.cmdline"
      ]
    }
  }
}